# Node modules
node_modules/

# Uploaded files folder (you may want to exclude large uploads)
uploads/

# SQLite database file
db.sqlite

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Misc
coverage/
